/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.bg{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
}
.bg-green {
    background: transparent linear-gradient(257deg, #5ACC45 0%, #189B00 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
}
.bg-disable{
    background: transparent linear-gradient(257deg, #D6D6D6 0%, #A4A4A4 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
}
.bg-red{
    background: transparent linear-gradient(254deg, #F53945 0%, #D8242F 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
}