<div class="max-w-7xl w-full mx-auto">
    <h3 class="text-[#003B83] text-[35px] font-bold mb-[10px]">Создание курса</h3>
    <div class="w-full bg px-[40px] py-[20px]">
        <h3 class="text-[#354F97] text-[33px] font-semibold">
            Общие параметры
        </h3>
        <div class="w-full h-[4px] bg-[#003B83] bg-opacity-[0.19] rounded-[10px]"></div>
        <h4 class="text-[#232323] font-medium">Выбор типа *</h4>
        <app-dropdown></app-dropdown>
        <h4 class="text-[#232323] font-medium">Язык курса *</h4>
        <app-dropdown></app-dropdown>
        <h4 class="text-[#232323] font-medium">Категория  *</h4>
        <app-dropdown></app-dropdown>
        <h4 class="text-[#232323] font-medium">Категория  *</h4>
        <div class="w-full h-[50px] bg rounded-[10px]">
            <input type="text" class="flex w-full h-full px-[10px]">
        </div>
        <h4 class="text-[#232323] font-medium">Описание курса *</h4>
        <div class="w-full h-[50px] bg rounded-[10px]">
            <input type="text" class="flex w-full h-full px-[10px]">
        </div>
    </div>
</div>
